include LICENSE
include README.rst
include nemesis/app/common/images/*.png
include nemesis/app/common/images/*.jpg
include nemesis/app/common/images/*.svg

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
